# 1. Data Wrangling

In [7]:
import pandas as pd

pd.set_option('display.max_rows',1000)
pd.set_option('display.max_columns',100)
pd.set_option('display.width',1000) # 把打印出来的图像设置成合适的样子

In [8]:
df = pd.read_csv('data.txt', sep=' ')

In [11]:
df.head()

           instance_id              item_id                       item_category_list                                 item_property_list        item_brand_id         item_city_id  item_price_level  item_sales_level  item_collected_level  item_pv_level              user_id  user_gender_id  user_age_level  user_occupation_id  user_star_level           context_id  context_timestamp  context_page_id                          predict_category_property              shop_id  shop_review_num_level  shop_review_positive_rate  shop_star_level  shop_score_service  shop_score_delivery  shop_score_description  is_trade
0   108641074714126964  3412720377098676069  7908382889764677758;5799347067982556520  2072967855524022579;5131280576272319091;263639...  1975590437749032870  3948283326616421003                 3                 3                     4             14  4505772604969228686               1            1003                2005             3003   282924576738839389         1537236544             4006  5799347067982556520:-1;509660095530134768:-1;5...  6765930309048922341                      4                        1.0             5002                 1.0                  1.0                     1.0         0
1  5754713551599725161  3412720377098676069  7908382889764677758;5799347067982556520  2072967855524022579;5131280576272319091;263639...  1975590437749032870  3948283326616421003                 3                 3                     4             14  2692638157208937547               0            1002                2005             3006  4007979028023783431         1537243232             4001  5799347067982556520:9172976955054793469;790838...  6765930309048922341                      4                        1.0             5002                 1.0                  1.0                     1.0         0
2   842679481291040981  3412720377098676069  7908382889764677758;5799347067982556520  2072967855524022579;5131280576272319091;263639...  1975590437749032870  3948283326616421003                 3                 3                     4             14  5247924392014515924               0            1003                2005             3004  4884875192608989870         1537211052             4001  5799347067982556520:5131280576272319091;725801...  6765930309048922341                      4                        1.0             5002                 1.0                  1.0                     1.0         0
3   937088850059189027  3412720377098676069  7908382889764677758;5799347067982556520  2072967855524022579;5131280576272319091;263639...  1975590437749032870  3948283326616421003                 3                 3                     4             14  2681414445369714628               1            1004                2005             3006   840119421106178602         1537222670             4016  509660095530134768:-1;5799347067982556520:-1;7...  6765930309048922341                      4                        1.0             5002                 1.0                  1.0                     1.0         0
4  7975697065017708072  3412720377098676069  7908382889764677758;5799347067982556520  2072967855524022579;5131280576272319091;263639...  1975590437749032870  3948283326616421003                 3                 3                     4             14  2729475788342039013               0            1002                2005             3001  1736769971710354684         1537271320             4001  5799347067982556520:9172976955054793469;790838...  6765930309048922341                      4                        1.0             5002                 1.0                  1.0                     1.0         0

In [14]:
 df.shape

(478138, 27)

In [15]:
df.tail()

                instance_id              item_id                       item_category_list                                 item_property_list        item_brand_id         item_city_id  item_price_level  item_sales_level  item_collected_level  item_pv_level              user_id  user_gender_id  user_age_level  user_occupation_id  user_star_level           context_id  context_timestamp  context_page_id                          predict_category_property              shop_id  shop_review_num_level  shop_review_positive_rate  shop_star_level  shop_score_service  shop_score_delivery  shop_score_description  is_trade
478133  5940763769799191887  5040834653196495196  7908382889764677758;5755694407684602296  5131280576272319091;2636395404473730413;121077...  2603815409272347112  3948283326616421003                 8                10                    13             14  7459595729748359155               0            1003                2005             3005  1328893420195687166         1537746519             4009  8257512457089702259:8895425924056041189;227312...  6642568563427911256                     16                   0.993662             5014            0.950846             0.950738                0.945286         0
478134  3387284546470665526  5040834653196495196  7908382889764677758;5755694407684602296  5131280576272319091;2636395404473730413;121077...  2603815409272347112  3948283326616421003                 8                10                    13             14  7033818138392866766               1            1004                2002             3002  4909647369391326062         1537801415             4004  5755694407684602296:-1;7908382889764677758:-1;...  6642568563427911256                     16                   0.993662             5014            0.950846             0.950738                0.945286         0
478135  5693770660150212848  5040834653196495196  7908382889764677758;5755694407684602296  5131280576272319091;2636395404473730413;121077...  2603815409272347112  3948283326616421003                 8                10                    13             14  7052469495668520594               1            1003                2002             3003  5902545511841349118         1537793100             4001      5755694407684602296:-1;7908382889764677758:-1  6642568563427911256                     16                   0.993662             5014            0.950846             0.950738                0.945286         0
478136  4623253188146764341  5040834653196495196  7908382889764677758;5755694407684602296  5131280576272319091;2636395404473730413;121077...  2603815409272347112  3948283326616421003                 8                10                    13             14   988569127238007467               1            1003                2002             3003  4979257525081659552         1537783729             4001  8257512457089702259:-1;1760164811125093110:203...  6642568563427911256                     16                   0.993662             5014            0.950846             0.950738                0.945286         0
478137  8013124750038806831  3762437480819554366  7908382889764677758;5755694407684602296  5131280576272319091;2636395404473730413;625945...  6447766541123854191  7322157373578955368                 7                 3                     4             11  3339280989551857799               0            1005                2005             3005  3834452003127934166         1537789701             4006  5755694407684602296:-1;509660095530134768:-1;8...  7591475337333430247                     10                   0.991431             5008            0.894010             0.886656                0.879810         0

In [17]:
df.dtypes

instance_id                    int64
item_id                        int64
item_category_list            object
item_property_list            object
item_brand_id                  int64
item_city_id                   int64
item_price_level               int64
item_sales_level               int64
item_collected_level           int64
item_pv_level                  int64
user_id                        int64
user_gender_id                 int64
user_age_level                 int64
user_occupation_id             int64
user_star_level                int64
context_id                     int64
context_timestamp              int64
context_page_id                int64
predict_category_property     object
shop_id                        int64
shop_review_num_level          int64
shop_review_positive_rate    float64
shop_star_level                int64
shop_score_service           float64
shop_score_delivery          float64
shop_score_description       float64
is_trade                       int64
dtype: object

In [19]:
df.describe()

        instance_id       item_id  item_brand_id  item_city_id  item_price_level  item_sales_level  item_collected_level  item_pv_level       user_id  user_gender_id  user_age_level  user_occupation_id  user_star_level    context_id  context_timestamp  context_page_id       shop_id  shop_review_num_level  shop_review_positive_rate  shop_star_level  shop_score_service  shop_score_delivery  shop_score_description       is_trade
count  4.781380e+05  4.781380e+05   4.781380e+05  4.781380e+05     478138.000000      478138.00000         478138.000000  478138.000000  4.781380e+05   478138.000000   478138.000000       478138.000000    478138.000000  4.781380e+05       4.781380e+05    478138.000000  4.781380e+05          478138.000000              478138.000000    478138.000000       478138.000000        478138.000000           478138.000000  478138.000000
mean   4.613082e+18  4.594622e+18   4.838444e+18  5.500420e+18          6.777175          11.13384             12.199336      17.128676  4.609864e+18        0.213047     1001.454396         1999.957159      2998.171662  4.611115e+18       1.537502e+09      4003.362366  4.733842e+18              15.768353                   0.994830      5013.175240            0.971124             0.970497                0.974863       0.018867
std    2.663448e+18  2.710140e+18   2.694756e+18  2.464881e+18          1.089037           2.58886              2.497312       2.160745  2.663355e+18        0.514699       45.076113           89.947391       134.821446  2.660569e+18       1.726222e+05         4.019709  2.596118e+18               2.825294                   0.011972         2.590989            0.023817             0.023776                0.025024       0.136055
min    3.823219e+12  6.964907e+14  -1.000000e+00 -1.000000e+00          0.000000          -1.00000              0.000000       0.000000  2.477979e+13       -1.000000       -1.000000           -1.000000        -1.000000  5.541611e+11       1.537200e+09      4001.000000  1.543560e+15               0.000000                  -1.000000      4999.000000           -1.000000            -1.000000               -1.000000       0.000000
25%    2.308543e+18  2.251088e+18   2.357806e+18  3.948283e+18          6.000000          10.00000             11.000000      16.000000  2.302761e+18        0.000000     1003.000000         2002.000000      3003.000000  2.311091e+18       1.537351e+09      4001.000000  2.498543e+18              14.000000                   0.992779      5012.000000            0.966360             0.965684                0.969268       0.000000
50%    4.613478e+18  4.636270e+18   5.051040e+18  6.738284e+18          7.000000          11.00000             12.000000      17.000000  4.608490e+18        0.000000     1003.000000         2005.000000      3004.000000  4.611360e+18       1.537506e+09      4001.000000  4.629590e+18              16.000000                   1.000000      5013.000000            0.972347             0.971590                0.978493       0.000000
75%    6.920994e+18  7.007158e+18   7.565625e+18  7.534239e+18          8.000000          13.00000             14.000000      19.000000  6.914375e+18        0.000000     1004.000000         2005.000000      3006.000000  6.915995e+18       1.537635e+09      4004.000000  6.740687e+18              17.000000                   1.000000      5015.000000            0.977822             0.976978                0.983640       0.000000
max    9.223362e+18  9.221980e+18   9.222396e+18  9.151271e+18         17.000000          17.00000             17.000000      21.000000  9.223345e+18        2.000000     1007.000000         2005.000000      3010.000000  9.223370e+18       1.537805e+09      4020.000000  9.220773e+18              25.000000                   1.000000      5020.000000            1.000000             1.000000                1.000000       1.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478138 entries, 0 to 478137
Data columns (total 27 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   instance_id                478138 non-null  int64
 1   item_id                    478138 non-null  int64
 2   item_category_list         478138 non-null  object
 3   item_property_list         478138 non-null  object
 4   item_brand_id              478138 non-null  int64
 5   item_city_id               478138 non-null  int64
 6   item_price_level           478138 non-null  int64
 7   item_sales_level           478138 non-null  int64
 8   item_collected_level       478138 non-null  int64
 9   item_pv_level              478138 non-null  int64
 10  user_id                    478138 non-null  int64
 11  user_gender_id             478138 non-null  int64
 12  user_age_level             478138 non-null  int64
 13  user_occupation_id         478138 non-null  int64
 14  user_star_level            478138 non-null  int64
 15  context_id                 478138 non-null  int64
 16  context_timestamp          478138 non-null  int64
 17  context_page_id            478138 non-null  int64
 18  predict_category_property  478138 non-null  object
 19  shop_id                    478138 non-null  int64
 20  shop_review_num_level      478138 non-null  int64
 21  shop_review_positive_rate  478138 non-null  float64
 22  shop_star_level            478138 non-null  int64
 23  shop_score_service         478138 non-null  float64
 24  shop_score_delivery        478138 non-null  float64
 25  shop_score_description     478138 non-null  float64
 26  is_trade                   478138 non-null  int64
dtypes: float64(4), int64(20), object(3)
memory usage: 98.5+ MB

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478138 entries, 0 to 478137
Data columns (total 27 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   instance_id                478138 non-null  int64
 1   item_id                    478138 non-null  int64
 2   item_category_list         478138 non-null  object
 3   item_property_list         478138 non-null  object
 4   item_brand_id              478138 non-null  int64
 5   item_city_id               478138 non-null  int64
 6   item_price_level           478138 non-null  int64
 7   item_sales_level           478138 non-null  int64
 8   item_collected_level       478138 non-null  int64
 9   item_pv_level              478138 non-null  int64
 10  user_id                    478138 non-null  int64
 11  user_gender_id             478138 non-null  int64
 12  user_age_level             478138 non-null  int64
 13  user_occupation_id         478138 non-null  int64
 14  user_star_level            478138 non-null  int64
 15  context_id                 478138 non-null  int64
 16  context_timestamp          478138 non-null  int64
 17  context_page_id            478138 non-null  int64
 18  predict_category_property  478138 non-null  object
 19  shop_id                    478138 non-null  int64
 20  shop_review_num_level      478138 non-null  int64
 21  shop_review_positive_rate  478138 non-null  float64
 22  shop_star_level            478138 non-null  int64
 23  shop_score_service         478138 non-null  float64
 24  shop_score_delivery        478138 non-null  float64
 25  shop_score_description     478138 non-null  float64
 26  is_trade                   478138 non-null  int64
dtypes: float64(4), int64(20), object(3)
memory usage: 98.5+ MB

- this dataset is really big, 480k rows and 27 columns
- data has no missing value, -1 in some user columns seem to be missing values
- long string features may need additional engineering

In [22]:
df['context_date'] = pd.to_datetime(df['context_timestamp'])

In [23]:
df['context_date'] #没有指定清楚，所以变成了1970的data

0        1970-01-01 00:00:01.537236544
1        1970-01-01 00:00:01.537243232
2        1970-01-01 00:00:01.537211052
3        1970-01-01 00:00:01.537222670
4        1970-01-01 00:00:01.537271320
                      ...
478133   1970-01-01 00:00:01.537746519
478134   1970-01-01 00:00:01.537801415
478135   1970-01-01 00:00:01.537793100
478136   1970-01-01 00:00:01.537783729
478137   1970-01-01 00:00:01.537789701
Name: context_date, Length: 478138, dtype: datetime64[ns]

In [28]:
df['context_date'] = pd.to_datetime(df['context_timestamp'], unit='s').dt.strftime('%Y-%m-%d')

In [31]:
df.head()

           instance_id              item_id                       item_category_list                                 item_property_list        item_brand_id         item_city_id  item_price_level  item_sales_level  item_collected_level  item_pv_level              user_id  user_gender_id  user_age_level  user_occupation_id  user_star_level           context_id  context_timestamp  context_page_id                          predict_category_property              shop_id  shop_review_num_level  shop_review_positive_rate  shop_star_level  shop_score_service  shop_score_delivery  shop_score_description  is_trade context_date
0   108641074714126964  3412720377098676069  7908382889764677758;5799347067982556520  2072967855524022579;5131280576272319091;263639...  1975590437749032870  3948283326616421003                 3                 3                     4             14  4505772604969228686               1            1003                2005             3003   282924576738839389         1537236544             4006  5799347067982556520:-1;509660095530134768:-1;5...  6765930309048922341                      4                        1.0             5002                 1.0                  1.0                     1.0         0   2018-09-18
1  5754713551599725161  3412720377098676069  7908382889764677758;5799347067982556520  2072967855524022579;5131280576272319091;263639...  1975590437749032870  3948283326616421003                 3                 3                     4             14  2692638157208937547               0            1002                2005             3006  4007979028023783431         1537243232             4001  5799347067982556520:9172976955054793469;790838...  6765930309048922341                      4                        1.0             5002                 1.0                  1.0                     1.0         0   2018-09-18
2   842679481291040981  3412720377098676069  7908382889764677758;5799347067982556520  2072967855524022579;5131280576272319091;263639...  1975590437749032870  3948283326616421003                 3                 3                     4             14  5247924392014515924               0            1003                2005             3004  4884875192608989870         1537211052             4001  5799347067982556520:5131280576272319091;725801...  6765930309048922341                      4                        1.0             5002                 1.0                  1.0                     1.0         0   2018-09-17
3   937088850059189027  3412720377098676069  7908382889764677758;5799347067982556520  2072967855524022579;5131280576272319091;263639...  1975590437749032870  3948283326616421003                 3                 3                     4             14  2681414445369714628               1            1004                2005             3006   840119421106178602         1537222670             4016  509660095530134768:-1;5799347067982556520:-1;7...  6765930309048922341                      4                        1.0             5002                 1.0                  1.0                     1.0         0   2018-09-17
4  7975697065017708072  3412720377098676069  7908382889764677758;5799347067982556520  2072967855524022579;5131280576272319091;263639...  1975590437749032870  3948283326616421003                 3                 3                     4             14  2729475788342039013               0            1002                2005             3001  1736769971710354684         1537271320             4001  5799347067982556520:9172976955054793469;790838...  6765930309048922341                      4                        1.0             5002                 1.0                  1.0                     1.0         0   2018-09-18